body{
    background-color: #ECF9FF;
}
hr{
    
    border-style: dotted none none;
    width: 5%;
    height: 0px;
    border-color: grey;
    border-width: 5px;
}
img{
    height: 180px;
}